<div class="row">
    <div class="small-12 columns">
        <h4>DATA: <%= this.ejsData %></h4>
        <table>
            <% if (this.ejsData > 0) { %>
                <% for (let i = 0; i < this.ejsData.length; i++) { %>
                    <tr>
                        <td><%= this.ejsData.building %></td>
                        <td><%= this.ejsData.roomNumber %></td>
                        <td><%= this.ejsData.problemDesc %></td>
                        <td><%= this.ejsData.assigned %></td>
                        <td><%= this.ejsData.status %></td>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </div>
</div>